<div class="banner">

  <div class="container allign-center">
    <h1><strong>All Lists</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>

</div>

<div class="container">
  <%= link_to "Create new List",  new_list_path, class: "btn btn-success float-end mt-1" %>
</div>
<hr>
<div class="container mt-3">

  <ul class="list-group list-group-horizontal list-group-flush d-flex align-items-center flex-wrap">
    <% @lists.each do |l| %>
      <li class="list-group-item flex-fill mt-3">
        <div class="card" style="width: 18rem;">
          <%= link_to list_path(l) do %>
            <% if l.photo.attached? %>
              <%= cl_image_tag l.photo.key, height: 300, width: 400, crop: :fill, alt: "foto da lista", class: "card-img-top btn" %>
            <% else %>
              <%= image_tag "place-holder-map.png", alt: "foto da lista", class: "card-img-top btn" %>
            <% end %>
            <div class="card-footer pl-3">
              <p> <%= l.name %>
              <%= link_to "Destroy this List",  list_path(l),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger float-end mt-1" %> </p>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

</div>
